@import "@/styles/settings/__settings";

.nav {
  text-align: center;
  ul {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 1rem;
    li {
      display: flex;
      padding: 0.375rem 0.5rem;
      a {
        text-decoration: none;
        font-size: 0.813rem;
      }
    }
  }
}
